*{
  margin: 0;
  padding: 0;
}
.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  width: 950px;
  color: white;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px red;
}

.App-title {
  text-align: center;
  font-size: 24px;
}

.App-intro {
  font-size: large;
  width: 950px;
  height: 500px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #888888;
  margin-top: 20px;
  padding: 20px;
}
/* bodychild */
.bodychild{
  box-shadow: 0 0 5px 2px red;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}
/* 页脚 */
.footer{
  width: 950px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #888;
  margin: auto;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
